@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  border: 1px solid steelblue;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 500px;
  min-height: 300px;
  overflow: auto;
  padding: 30px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(0,128,0);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

.btn:active {
  background-color: rgba(0, 128, 0, 0.5);
}
